:root {
    --dark-green: #154b18;
    --leaf-green: #489c4b;
    --garden-yellow: #e4c516; 
    --bg-light: #f4f9f4;
    --text-dark: #222;
}

body {
    font-family: Garamond, "Times New Roman", serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--text-dark);
    line-height: 1.6;
}

header {
    background-color: var(--dark-green);
    color: white;
    padding: 15px 5%;
    border-bottom: 6px solid var(--garden-yellow);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-area { display: flex; align-items: center; gap: 15px; }
.logo { height: 120px; width:120px; }
.mascot { height: 80px; width: 80px; }
.title-text h1 { margin: 0; font-size: 1.7rem; text-transform: uppercase; color: var(--garden-yellow); }
.slogan { margin: 0; font-style: italic; color: var(--garden-yellow); font-size: 0.9rem; }

nav ul { list-style: none; display: flex; gap: 10px; margin: 0; padding: 0; }
nav a { 
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 8px 12px; 
    font-size: 0.85rem; 
    text-transform: uppercase;
    transition: 0.2s;
}
nav a:hover, .active { background-color: var(--garden-yellow); color: var(--dark-green); }

footer {
    background-color: #111;
    color: #eee;
    padding: 40px 10%;
    border-top: 5px solid var(--dark-green);
}

.footer-content { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px; }
.footer-contact p { margin: 5px 0; font-size: 0.9rem; }
.footer-links ul { list-style: none; padding: 0; }
.footer-links a { color: var(--garden-yellow); text-decoration: none; font-size: 0.9rem; }
.footer-links a:hover { text-decoration: underline; }